* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
      background: black;
      height: 100%;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    color:white;
    line-height: 1.5em;
    letter-spacing: 1px;

  }

  .container {
    padding: 70px;
    width: 100vw;
    height: 100vh;
    /* max-width: 1100px; */
  }

  h1 {
    padding-bottom: 20px;
    text-transform: uppercase;
    text-decoration: rgb(166, 211, 5) wavy overline;
  }

  p {
    font-size: 15px;
  }

/* topBanner Styling */

#topBanner {
 display: flex;
 justify-content: space-between;
 margin-bottom: 60px;
 
}

/* high score box styling */

.boxes {
  border: solid white 1px;
  padding:10px;
}

/* timer styling */

.timerContainer {
  display: flex;
}

.timerCount {
  padding-left: 5px;
}


/* Quiz Container  */

#quizContainer, #scores {
  margin: 20px 0 20px 0;
  padding-top:10px;
  border-top:rgb(166, 211, 5) 1px dashed;
  display: none;
}

#title {
  color:white;
}

.alternative {
  list-style-type: none;
  padding: 10px;
  border: rgb(166, 211, 5) solid ;
  margin: 10px;
}

.alternative:hover {
  background-color: #A6D305;
  color: black;
  transition: .5s ease;
}


/* buttons styling  */

button {
    --buttonBackground: #00272B;
    --btnText: white;
    padding: 20px;
    text-transform: uppercase;
    border: white 1px solid;
    font-weight: bolder;
    margin-top: 20px;
    letter-spacing: 1px;
}

#initials-text {
  padding: 20px;
  text-transform: uppercase;
}

#formSubmit {
  margin-top:0px;
}

#initials-form {
  border-top:rgb(166, 211, 5) dashed 2px;
  border-bottom:rgb(166, 211, 5) dashed 2px;
  margin: 20px 20px 20px;
  padding:10px;
}

  #response {
    display:none;
    padding-top: 20px;
    padding-left:20px;
  }

  #msg {
    font-size: 13px;
    padding-top: 10px;
    text-decoration: rgb(166, 211, 5) wavy overline;
}

  .btnFlex {
    display: flex;
    justify-content: space-between;
  }

  #nextBtn,#submitBtn {
    display: none;
  }

  #results {
    display:none;
  }

/* button [disabled]:hover {
  cursor:not-allowed;
} */

#startBtn {
    background-color: var(--buttonBackground);
    color: var(--btnText);
}

#startBtn:hover {
  background-color: #A6D305;
  color: black;
  transition: .5s ease;
}